@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root{
  --box-shadow: rgba(0, 0, 0, 0.05)0px 6px 24px 0px, rgba(0, 0, 0, 0.08)0px 6px 24px 0px
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  max-width: 1200px;
  /* min-height: 70px;
  padding: 15px;
  margin-bottom: 70px;
  background-color: #FFFFFF;
  border-radius: 5px; */
}



header .logo{
  display: flex;
  align-items: center;
}

header .logo img{
  max-width: 35px;
  cursor: pointer;
}

footer{
  text-align: center;
}


.navigation .link.active{
  background-color: #EEEEEE;
  border-radius: 5px;
}

.navlink .link{
  padding: 10px;
}

a{
  text-decoration: none;
}

main {
  min-height: 90vh;
  max-width: 1280px;
  margin: auto;
  padding: 10px;
}

button{
  background-color: rgb(75, 130, 212);
  border-radius: 5px;
  color: #EEEEEE;
  height: 34px;
  width: 137px;
  
}